<ion-item *ngIf="task" [detail]="false">
  <ion-label class="ion-text-wrap">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="check-container"  (click)="markCompleted(task.id)"><ion-checkbox [ngModel]="task.completed" value="{{ task.completed}}"> </ion-checkbox></div>
        </ion-col>
        <ion-col size="8">
          <div class="msg-text" (click)="player()">{{ task.fromName }}</div>
        </ion-col>
        <ion-col size="1">
          <span class="date">
            <ion-icon name="ellipsis-horizontal-outline" (click)="ellipsisMenu($event)"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content class="ion-padding">Editar</ion-content>
        <ion-content class="ion-padding" (click)="eliminar(task.id)">Eliminar</ion-content>
        <ion-content class="ion-padding" (click)="markAsCompleted(task.id)">Marcar como completado</ion-content>
      </ng-template>
    </ion-popover>
  </ion-label>
  </ion-item>